body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cccccc;
    margin: 0px;
}

.hero{
    background-image: url(../imagens/bg-3.jpg);
    height: 800px;
    background-position: right center;
    background-size: cover;
    border-top: solid 1px rgba(0, 0, 0, 0);
}

.hero-content{
    color: white;
    text-align: center;
    margin-top: 200px;
}

.hero-content p{
    display: inline-block;
    padding: 20px 20px;
}

.hero-content h1{
    font-size: 60px;
    text-shadow: 3px 3px 2px #313131;
    text-transform: uppercase;
}

.hero-content p{
    font-size: 20px;
    border-bottom: solid 2px white;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.menu ul{
    text-align: right;
    margin-top: 30px;
    margin-right: 30px;
}

.menu li{
    margin-left: 10px;
    display: inline-block;
    border: solid 2px white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menu li a{
    display: block;
    background-color: rgba(70, 70, 70, 0.5);
    padding: 15px 15px;
    text-decoration: none;
    color: white
}

.menu li a:hover{
    background-color: rgba(34, 34, 34, 0.5);
}

main{
    width: 80%;
    margin: auto;
}

.content-section{
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    overflow: auto;
}

.card{
    float: left;
}

.card p{
    background-color: #313131;
    margin: 0px 0px;
    padding: 20px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
}

.content-header h2{
    padding: 10px 10px;
    background-color: #d6d6d6;
    border-bottom: solid 2px #949494;
}

.rodape{
    margin-top: 20px;
    padding: 30px 30px;
    background-color: #4e4e4e;
    color: white;
    text-align: center;
    text-shadow: 3px 3px 2px #000000;
}